<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">
<body>
	<div layout:fragment="content">
		<h2>Pizza saloon sign in</h2>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
        	<table>
        		<tr>
        			<td>User Name:</td>
        			<td><input type="text" name="username"/></td>
        		</tr>
        		<tr>
        			<td>Password:</td>
        			<td><input type="password" name="password"/></td>
        		</tr>
        		<tr>
        			<td><input class="submit-button" type="submit" value="Sign In"/></td>
        		</tr>
        	</table>
        </form>
	</div>
</body>
</html>