.header {
	background: #784cab;
	color: white;
	padding: 0px;
	width: 100%;
	position: absolute;
}

.header h2 {
	width: 300px;
    margin: 12px 10px 10px 25px;
    display: inline-block;
}

.header .login-div {
	float: right;
    margin-top: 30px;
    margin-right: 25px;
    line-height: 20px;
}

.header .menu {
	display: inline-block;
    height: 20px;
    line-height: 20px;
    position: absolute;
    margin-top: 30px;
}

.header .slogen {
	margin: 0px 10px 12px 25px;
}

.header a {
	color: white;
}

.header a:hover {
	color: #408fec;
}