html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	font-family: "Helvetica Neue", Arial, sans-serif;
	background-color: #f7f7f7;
    background-image: -webkit-linear-gradient(#f7f7f7, #fff);
    background-image: linear-gradient(#f7f7f7, #fff);
}

.content {
	margin: 0 auto;
	padding-top: 120px;
	max-width: 960px;
	width: 94%;
}

.submit-button {
	background: #408fec;
    color: white;
    text-shadow: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    margin-top: 10px;
    height: initial;
}

input {
    height: 30px;
    border-radius: 4px;
    padding-left: 7px;
    padding-right: 7px;
    border: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(110,91,170,0);
}

input:focus {
    outline: none;
    box-shadow: 0 0 4px rgba(110,91,170,0.5);
    border-color: #6e5baa;
}

.error-message {
	color: red;
}

.form-table td {
	padding: 3px;
}

.data-table {
	width: 95%;
    margin: auto;
    border-spacing: 40px 13px;
}

.data-table th {
	text-align: left;
	border-bottom: solid 3px #6e5baa;
	line-height: 35px;
}